
* {
	margin: 0px;
	padding: 0px;
}

body {
	
	font-family: 'Neuzeit Grotesk', Helvetica;
	font-size: 14px;
	line-height: 1.6;
	

}

#desktop {
  position: fixed; 
  top: 0px; 
  left: 0px; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('https://dl.dropboxusercontent.com/u/48678012/css/webfonts/neuzeit-grotesk.eot.eot');
    src: url('https://dl.dropboxusercontent.com/u/48678012/css/webfonts/neuzeit-grotesk.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/48678012/css/webfonts/neuzeit-grotesk.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/48678012/css/webfonts/neuzeit-grotesk.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/48678012/css/webfonts/neuzeit-grotesk.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
	font-size: 24px;
	border-bottom: line-through;
	text-decoration: none;
	color: black;
	background-color: white;
}

a:hover {

background: none;
color: black;
background-color:yellow;

}

h1 {
font-size: 50px;
margin-top: 15px;
margin-left: 5px;
color:white;
	
}

h2 {
	background-color: white;
	font-size: 36px;
}


#container4 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;

	
}
#container3 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:25%;

}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:25%;
	
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:25%;

	}

#col1 {
	float:left;
	width:21%;
	position:relative;
	left:77%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:21%;
	position:relative;
	left:81%;
	overflow:hidden;
}
#col3 {
	float:left;
	width:21%;
	position:relative;
	left:85%;
	overflow:hidden;
}
#col4 {
	float:left;
	width:21%;
	position:relative;
	left:89%;
	overflow:hidden;
}

